@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*
Website Name: Tic Tac Toe
Website URL: 
Website Author: Michaela Kurčíková
Author URL: https://github.com/Michaela565
Copyright 2023. All Rights Reserved.
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Lexend Peta', Times, serif;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

#game-board{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 12px;
}

.board-box{
    background-color: cadetblue;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 100px;
    font-weight: 800;
    transition: all 0.2s;
}

.board-box:hover{
    transform: scale(1.05);
}

.board-box:active{
    transform: scale(0.95);
}

.info-holder{
    color: white;
    font-size: 32px;
    font-weight: 600;
}